/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.dashboard {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #486d85;
  color: white;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px 0;
  cursor: pointer;
}

.logout {
  text-align: center;
}

.logout button {
  padding: 10px;
  background-color: white;
  color: #262525;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  background-color: #f4f4f4;
  padding: 20px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.date {
  font-size: 0.9em;
  color: #888;
}

.tasks-overview {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.task-list {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-list h2 {
  color: #4e4c4c;
}

.task {
  background-color: #f8f9fa;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.task h3 {
  margin: 0;
}

.task p {
  margin: 5px 0 0;
  color: #555;
}

.task-status {
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status p {
  margin: 10px 0;
}
